Source: libhfi1
Maintainer: Scibian Project <packaging@scibian.org>
Section: libs
Priority: extra
Standards-Version: 3.9.8
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/libhfi1.git
Vcs-Browser: https://github.com/scibian/libhfi1
Build-Depends: autoconf,
               automake,
               debhelper (>= 10),
               dh-autoreconf,
               libibverbs-dev,
               libtool,
               quilt,

Package: libhfi1
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libhfi1verbs,
Replaces: libhfi1verbs,
Description: Intel Omni-Path HFI Userspace Driver
 libhfi1 provides a device-specific userspace driver for Intel Host
 Fabric interface cards.  This driver is designed for use with the
 libibverbs library.

Package: libhfi1-dev
Architecture: amd64
Section: libdevel
Depends: libhfi1 (=${binary:Version}),
         ${misc:Depends},
Conflicts: libhfi1-static,
           libhfi1verbs-dev,
Replaces: libhfi1-static,
          libhfi1verbs-dev,
Description: Development files for the libhfi1 driver
 Static version of libhfi1 that may be linked directly to an
 application, which may be useful for debugging.
