#!/usr/bin/make -f
#
# -*- mode: makefile; coding: utf-8 -*-

#export DH_VERBOSE=1
#export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

%:
	dh $@ --parallel --with autoreconf

.PHONY: override_dh_auto_clean
override_dh_auto_clean:

.PHONY: override_dh_autoreconf
override_dh_autoreconf:
	if [ ! -f NEWS ] ; then > NEWS ; fi
	if [ ! -f ChangeLog ] ; then > ChangeLog ; fi
	dh_autoreconf

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --sysconfdir=/etc --libdir=/usr/lib

.PHONY: override_dh_installdocs
override_dh_installdocs:
	dh_installdocs --link-doc=libhfi1

# Prevent useless call to ldconfig for compat library
.PHONY: override_dh_makeshlibs
override_dh_makeshlibs:
	dh_makeshlibs -X/usr/lib/libibverbs
